body {
  font-family: sans-serif;
  padding: 30px;

}

.container {
  overflow: hidden;

}

/*------------Begin header----------------*/

.page-title {
	color:#DE3B30;
	font-size:3.5em;
	margin-right:20px;
  margin-bottom: 10px;
}

.byline {
	color:#BBB;
	font-size: 25px;
}


/*------------End header----------------*/

/*------------Begin nav----------------*/

nav {
  width: 100%;
}


nav ul {
	list-style-type:none;
	padding:0;
}
.nav-style li {
  font-size: 1.5em;
  display: inline-block;
  width: 16%;
  text-align: center;
  padding: 20px 3px;
  background-color: #000;
  margin-left: -1px;
  margin-right: -1px;
  margin-top: -5px;
  margin-bottom: 40px;

}

.nav-style a {
  color: #ffffff;
  text-decoration: none;
}

.nav-style a:hover {
  color: red;
}

/*------------End Nav----------------*/

/*------------Begin Article Container----------------*/


/**, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

[class*='col-'] {
  float: left;
  padding-right: 30px;
}

[class*='col-']:last-of-type {
  padding-right:0px;
}*/

.col-8 {
  float: left;
  width: 66.66666%;
  box-sizing: border-box;
  position: relative;
  padding-right: 30px;
}

.col-4 {
  float: left;
  width: 33.333333%;
  position: relative;
  box-sizing: border-box;
  padding-left: 0px;

}

h2 {
  font-size: 2.25em;
  font-weight: lighter;
  line-height: 20px;
}

.date-style {
  font-size: 2.5em;
  color: #CBCBCB;
  margin-top: 0;
}

.photo {
  margin-bottom: 15px;
  max-width: 100%;
  height: auto;

}

.article-title {
  color: #000000;
  font-size: 2.5em;
  margin-bottom: 20px;
}

.article-content {
  color: #808080;
  font-size: 1em;
  line-height: 25px;
}

.article-content:first-child:first-letter{
  color: #CBCBCB;
  font-size: 4em;
  margin: 3px;
}

p.drop-cap:first-child:first-letter {
  float: left;
  font-size: 7em;
  color: #DDDDDD;
  margin: 20px 5px 5px 0px;
  font-weight: lighter;
  line-height: 60px;
}

.continue {
  margin-top: 75px;
}

.continue-link {
  color: #DE3B30;
  font-size: 1.25em;
  font-weight: bold;
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  text-decoration: none;
  }

.continue-link a:hover {
    text-decoration: underline;
  }

.side-bar-title {
    color: #868686;
    font-weight: bold;
    margin-top: 60px;
    margin-bottom: 20px;
    font-size: 1.25em;
  }

  .divider {
    width: 100%;
    border-top: #cccccc 1px solid;
    margin-top: 30px;
    margin-bottom: 10px;
  }

  .ad-space {
    width: 100%;
    background-color: #cccccc;
    text-align: center;
    margin-top: 30px;
    margin-bottom: 10px;
    padding-top: 60px;
    padding-bottom: 60px;
    }

.ad-text {
  font-size: 5em;
  font-family: times, serif;
  color: #969696;
  margin-top: 20px;
  margin-bottom: 25px;
}


.popular-list {
  color: #969696;
  font-size: 1.1em;
  line-height: 25px;
  list-style: disc;
}

.popular-list a {
  color: #DE3B30;
  font-size: 1.1em;
  line-height: 25px;
  text-decoration: none;
}

.popular-list a:hover {
  text-decoration: underline;
}

.popular-list ul li {
  color: #DE3B30;
  font-size: 1.1em;
  line-height: 25px;
  list-style: disc;
}

/*-------------------Begin Footer Links -------------------*/

.footer-nav a {
  color: #DE3B30;
  padding: 0px;
  text-decoration: none;
  }

.footer-nav a:hover {
  text-decoration: underline;
}

.footer-nav li {
  display: inline;
  list-style: none;
  border-right: #CCCCCC 1px solid;
  padding-left: 0px;
  padding-right: 5px;
}

.footer-nav li:last-child {
  border: none;
}
/*-------------------End Footer Links -------------------*/

/*-------------------Begin Copyright Line -------------------*/
.copyright {
  color: #CBCBCB;
  margin-top: 20px;
  margin-bottom: 40px;
}
/*-------------------End Copyright Line -------------------*/
